:root {
  --textColor: #000;
  --textOffColor: #2b2b2b8a;
  --baseColor: #576af7;
  --baseDarkColor: #3d4dc6;
  --baseLightColor: #ffffff;
  --lightGrey: #f1f3f4;
  --dividerColor: #e8e8e8;
  --disabledColor: #c3c3c3;
  --secColor: #d8dc49;
  --secDarkColor: #babe3f;
}

body {
  background: var(--baseColor) !important;
  color: var(--textColor);
  font-size: 18px;
}

/* Login Card */
.kc-logo-text {
  display: none;
}

#kc-header-wrapper {
  display: none;
}

.login-pf-page .card-pf {
  background: var(--baseDarkColor);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  max-width: 420px;

  margin-top: calc((100vh - 556px) / 2);
}

@media only screen and (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: 80%;
    padding-top: 5px;
    margin: auto;
  }
}
/* Card Title */

.login-pf-page .login-pf-header {
  margin-top: 80px;
  margin-bottom: 80px;
}

#kc-page-title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Login Form */

.username_input {
  border-bottom: 1px solid var(--dividerColor);
}

.login-pf-page .form-group {
  padding: 24px 32px;
  background: var(--baseLightColor);
  margin-bottom: 0px;
}

.login-pf-page .form-control {
  border: none;
  font-size: 18px;
  color: var(--textColor);
  height: 46px;
  box-shadow: none;

  border-radius: 8px;
  background: var(--lightGrey);
  margin-bottom: 0px;
}

.login-pf-page .form-control::placeholder {
  font-style: normal;
  color: var(--textOffColor);
  text-align: center;
}

/* Remember Me Toggle */

#kc-form-options .checkbox {
  font-size: 16px;
  color: var(--textOffColor);
  margin-bottom: 0;
}

#kc-form-options label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 8px;
}

#kc-form-options .toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
}

#rememberMe {
  display: none;
}

#kc-form-options .dot {
  height: 100%;
  width: 200%;
  background: var(--baseColor);
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

#rememberMe:checked ~ .dot {
  transform: translate3d(25%, 0, 0);
}

#kc-form-options .label-text {
  margin-left: 16px;
}

/* Reset Password Link */

#kc-form-reset-psw a {
  font-size: 16px;
  color: var(--secColor);
  padding-right: 8px;
}

#kc-form-buttons {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

/* Login Button */

#kc-login {
  border: none;
  font-size: 16px;
  color: var(--baseColor);
  background: var(--secColor);
  border-radius: 0px;
  box-shadow: none;
  height: 92px;
  margin-top: -48px;
}

#kc-login[disabled] {
  background-color: var(--disabledColor) !important;
  color: var(--baseLightColor) !important;
  outline: none;
}

#kc-login:active:focus {
  background-color: var(--secDarkColor) !important;
  outline: none;
}
